<!doctype html>
<html>
<head>
<title>Registration</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <nav>
        <div class="wrapper">
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="">User Guide</a></li>
                <li><a href="">Admin Profile</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Log Out</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Welcome Admin</h1>
        <button>Generate Report</button>
        <button>Contact IT</button>

        <pre></pre>
        <Input type="search" placeholder="Item lookup"></Input>
        <button>Browse</button>

        <pre></pre>
        <Input type="search" placeholder="Member lookup"></Input>
        <button>Search</button>
        
    </div>
</body>
</html>